.nav-menu-btn{
    background-color: white!important;
    color: black;
    width: 100%;
}
.nav-menu-btn:hover{
  color: black;
}
.nav-menu-btn-selected{
  color: var(--main-color);
}
.nav-menu-container{
    position: absolute;
    top: 0;
    max-width: 92%;
    left: calc(0% + 3rem) ;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: center;
  }
  .nav-menu-container div{
    width: 100%;
    color:white;
    height: 70%;
    display: flex;
   /*  align-items: center; */
    justify-content: center;
    padding-right: 1em;
    padding-left: 1em;
  }
  .nav-menu-container > div >div {
      height: 100%;
      padding: 0px;
  }